services:
  db:
    image: postgres:18-alpine
    container_name: db
    env_file: .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-U", "$$POSTGRES_USER", "-d", "$$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - test

  api:
    image: api
    container_name: api
    env_file: .env
    build:
      dockerfile: Dockerfile
    networks:
      - test
    ports:
      - 8080:8080
    depends_on:
      db:
        condition: service_healthy

networks:
  test:
